.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-elevation-z1
  {
    position: fixed;
  }
  .logo {
    width: 60px;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
  }
  
  mat-icon.toolbar-icon {
    color: #253c98;
  }
  
  .toprightuser .mat-icon-button .mat-icon,
  .mat-icon-button i {
    color: #253c98;
  }
  
  
  .logowrapper {
    left: 0px;
    top: 0px;
    width: 200px;
    height: 45px;
    
  }
  
  .logowrapper .mat-icon {
    margin-top: 13px;
  }
  .toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;
 }
  .toolbar.below {
    z-index: 2;
 }
  .mat-elevation-z1 .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
 }
  .toolbar .logo {
    display: flex;
    align-items: center;
 }
  .toolbar .logo .logo-icon {
    width: 38px;
 }
   .user-button,  .toolbar .language-button, .toolbar .chat-panel-toggle-button, .toolbar .quick-panel-toggle-button {
    min-width: 64px;
    height: 64px;
 }
  .toolbar .navbar-toggle-button {
    min-width: 56px;
    height: 56px;
 }
  .toolbar .toolbar-separator {
    height: 64px;
    width: 1px;
 }
 .s-16
 {
  font-size: 16px!important;
  width: 16px!important;
  height: 16px!important;
  min-width: 16px!important;
  min-height: 16px!important;
  line-height: 16px!important;
  vertical-align: middle;
 }
  